In [1]:
import hepfile

import uproot

import awkward as ak

import numpy as np

import pandas as pd

In [2]:
print(uproot.__version__)
print(ak.__version__)

5.0.10
2.3.1

# Load in a hepfile as dictionaries

In [3]:
# This assumes that the file "awkward_write..." was created by running the
# play_with_writing_awkward_to_hepfile.ipynb notebook

data,bucket = hepfile.load('awkward_write_test_COMP_gzip_OPT_9.h5', verbose=False)

# Convert the `data` dictionary to some dataframes

In [4]:
dfs = hepfile.df_tools.hepfile_to_df(data)

In [5]:
dfs.keys()

dict_keys(['_SINGLETONS_GROUP_', 'Electron', 'MET', 'Muon', 'PV'])

In [6]:
dfs['Muon']

,charge,dxy,dxyErr,dz,dzErr,eta,mass,pfRelIso03_all,pfRelIso04_all,phi,pt,event_num
0,1,-0.004785,0.006076,0.090060,0.044572,-0.718682,0.105658,0.000000,0.000000,2.968006,63.043869,0
1,-1,0.000575,0.001304,-0.003229,0.003023,-0.879457,0.105658,0.000000,0.000000,-1.032475,38.120346,0
2,1,-0.002323,0.004343,-0.005163,0.004190,-0.320764,0.105658,0.000000,0.179980,1.038504,4.048687,0
3,1,0.000475,0.001315,0.002479,0.003096,-1.058275,0.105658,0.168421,0.334238,-0.362311,54.332748,3
4,-1,0.001083,0.001529,-0.002730,0.003776,-0.247516,0.105658,0.031618,0.082917,-0.306786,23.515282,3
...,...,...,...,...,...,...,...,...,...,...,...,...
441389,-1,0.000067,0.001083,0.002467,0.003448,-0.161916,0.105658,0.049685,0.072580,2.269466,43.079132,299969
441390,1,0.226525,0.015823,-2.391314,0.070908,-2.087457,0.105658,1.860459,3.450086,0.988177,4.316148,299970
441391,-1,-999.000000,-999.000000,-999.000000,-999.000000,-2.147233,0.105658,-999.000000,-999.000000,0.434166,4.358767,299970
441392,1,-999.000000,-999.000000,-999.000000,-999.000000,-2.136167,0.105658,-999.000000,-999.000000,1.005208,5.632667,299970
441393,1,-999.000000,-999.000000,-999.000000,-999.000000,-2.018917,0.105658,-999.000000,-999.000000,1.076247,4.750780,299970

Select out a single event

In [7]:
dfs['Muon'][dfs['Muon']['event_num']==3]

,charge,dxy,dxyErr,dz,dzErr,eta,mass,pfRelIso03_all,pfRelIso04_all,phi,pt,event_num
3,1,0.000475,0.001315,0.002479,0.003096,-1.058275,0.105658,0.168421,0.334238,-0.362311,54.332748,3
4,-1,0.001083,0.001529,-0.002730,0.003776,-0.247516,0.105658,0.031618,0.082917,-0.306786,23.515282,3
5,-1,-0.000255,0.001253,-0.002393,0.004128,-0.026542,0.105658,0.026606,0.044056,1.322455,52.871075,3
6,1,0.179779,0.079546,0.898871,1.832072,0.766690,0.105658,2.573028,3.020554,2.020253,4.328589,3
7,-1,-999.000000,-999.000000,-999.000000,-999.000000,-1.019671,0.105658,-999.000000,-999.000000,-0.790299,5.347754,3
8,-1,-999.000000,-999.000000,-999.000000,-999.000000,-0.921924,0.105658,-999.000000,-999.000000,-0.756131,8.393386,3
9,1,-999.000000,-999.000000,-999.000000,-999.000000,0.769492,0.105658,-999.000000,-999.000000,2.029141,3.490124,3

In [8]:
dfs['Electron'][dfs['Electron']['event_num']==3]

,charge,dxy,dxyErr,dz,dzErr,eta,mass,pfRelIso03_all,phi,pt,event_num
6,-1,0.002236,0.003694,16.753654,0.003947,-0.022763,-0.001233,0.285386,-0.643173,10.413637,3

# Convert the `data` dictionary to just some events

In [9]:
dfs = hepfile.df_tools.hepfile_to_df(data, events=3)

In [10]:
dfs['Electron']

,charge,dxy,dxyErr,dz,dzErr,eta,mass,pfRelIso03_all,phi,pt,event_num
6,-1,0.002236,0.003694,16.753654,0.003947,-0.022763,-0.001233,0.285386,-0.643173,10.413637,3

In [11]:
dfs = hepfile.df_tools.hepfile_to_df(data, events=[3,20,56])
dfs['Electron']

,charge,dxy,dxyErr,dz,dzErr,eta,mass,pfRelIso03_all,phi,pt,event_num
6,-1,0.002236,0.003694,16.753654,0.003947,-0.022763,-0.001233,0.285386,-0.643173,10.413637,3
34,-1,-0.008021,0.019320,-0.015517,0.014983,1.676599,-0.004915,1.232846,-1.406712,5.465888,20
35,1,-0.033153,0.016332,-13.339128,0.010649,-0.857395,-0.002104,0.308720,0.750506,6.265800,20

In [12]:
dfs['Muon']

,charge,dxy,dxyErr,dz,dzErr,eta,mass,pfRelIso03_all,pfRelIso04_all,phi,pt,event_num
3,1,0.000475,0.001315,0.002479,0.003096,-1.058275,0.105658,0.168421,0.334238,-0.362311,54.332748,3
4,-1,0.001083,0.001529,-0.002730,0.003776,-0.247516,0.105658,0.031618,0.082917,-0.306786,23.515282,3
5,-1,-0.000255,0.001253,-0.002393,0.004128,-0.026542,0.105658,0.026606,0.044056,1.322455,52.871075,3
6,1,0.179779,0.079546,0.898871,1.832072,0.766690,0.105658,2.573028,3.020554,2.020253,4.328589,3
7,-1,-999.000000,-999.000000,-999.000000,-999.000000,-1.019671,0.105658,-999.000000,-999.000000,-0.790299,5.347754,3
8,-1,-999.000000,-999.000000,-999.000000,-999.000000,-0.921924,0.105658,-999.000000,-999.000000,-0.756131,8.393386,3
9,1,-999.000000,-999.000000,-999.000000,-999.000000,0.769492,0.105658,-999.000000,-999.000000,2.029141,3.490124,3
28,1,-0.000287,0.001498,0.001087,0.004928,-1.861994,0.105658,0.029061,0.077382,-1.557938,39.615726,20
29,1,0.001914,0.004875,0.026762,0.016327,-1.564379,0.105658,0.532722,1.264162,-1.789913,3.697498,20
100,-1,-0.000053,0.001611,-0.000269,0.005309,-2.068156,0.105658,0.087606,0.144580,1.486120,32.238480,56
101,1,-0.001156,0.001404,0.002042,0.003103,0.432364,0.105658,0.040094,0.183292,3.034653,19.655991,56
102,-1,-999.000000,-999.000000,-999.000000,-999.000000,2.404664,0.105658,-999.000000,-999.000000,-0.052610,4.770250,56

# Load in the `hepfile` as `awkward` arrays

In [13]:
data,bucket = hepfile.load('awkward_write_test_COMP_gzip_OPT_9.h5', verbose=False)

events = hepfile.awkward_tools.hepfile_to_awkward(data)

In [14]:
events[0]

In [15]:
events['Muon']

In [16]:
events['Muon']['pt']

In [17]:
dfs = hepfile.df_tools.awkward_to_df(events, groups='Muon', events=1)

In [18]:
len(dfs.event_num.unique())

0

In [19]:
dfs

Empty DataFrame
Columns: [charge, dxy, dxyErr, dz, dzErr, eta, mass, pfRelIso03_all, pfRelIso04_all, phi, pt, event_num]
Index: []

In [20]:
events.Muon.fields

['charge',
 'dxy',
 'dxyErr',
 'dz',
 'dzErr',
 'eta',
 'mass',
 'pfRelIso03_all',
 'pfRelIso04_all',
 'phi',
 'pt']

In [21]:
dfs

Empty DataFrame
Columns: [charge, dxy, dxyErr, dz, dzErr, eta, mass, pfRelIso03_all, pfRelIso04_all, phi, pt, event_num]
Index: []