In [1]:
import hepfile as hf

# Testing `hepfile_to_df`

In [2]:
# load in a sample hepfile
sample = 'test-csv.h5'
data, bucket = hf.load(sample)

Building the indices...

Built the indices!
Data is read in and input file is closed.

In [3]:
dfs = hf.df_tools.hepfile_to_df(data)
dfs['Residences']

,Age,First name,Gender ID,Height,Highest degree-grade,Last name,Yearly income,event_num
0,54,b'blah',b'M',159,b'BS',b'blah',75000,0
1,52,b'blah',b'F',140,b'MS',b'blah',80000,0
2,18,b'blah',b'NB',168,b'12',b'blah',0,0
3,14,b'blah',b'F',150,b'9',b'blah',0,0
4,32,b'blah',b'M',159,b'BS',b'blah',49000,1
5,27,b'blah',b'M',140,b'BS',b'blah',40000,1
6,65,b'blah',b'F',140,b'BS',b'blah',40000,2
7,54,b'blah',b'M',159,b'BS',b'blah',75000,3
8,52,b'blah',b'F',140,b'MS',b'blah',80000,3
9,18,b'blah',b'NB',168,b'12',b'blah',0,3
10,14,b'blah',b'F',150,b'9',b'blah',0,3
11,12,b'blah',b'M',159,b'8',b'blah',0,3
12,11,b'blah',b'M',140,b'7',b'blah',0,3
13,65,b'blah',b'F',140,b'12',b'blah',0,3

In [4]:
dfs = hf.df_tools.hepfile_to_df(data, groups=['Residences', '_SINGLETONS_GROUP_'], events=0)
dfs

{'Residences':    Age First name Gender ID  Height Highest degree-grade Last name  \
 0   54    b'blah'      b'M'     159                b'BS'   b'blah'
 1   52    b'blah'      b'F'     140                b'MS'   b'blah'
 2   18    b'blah'     b'NB'     168                b'12'   b'blah'
 3   14    b'blah'      b'F'     150                 b'9'   b'blah'

    Yearly income  event_num
 0          75000          0
 1          80000          0
 2              0          0
 3              0          0  ,
 'singletons':    Household ID  event_num
 0             0          0}

# Test `awkward_to_df`

In [5]:
sample = 'test-csv.h5'
awk, bucket = hf.load(sample, return_awkward=True)

Building the indices...

Built the indices!
Data is read in and input file is closed.

In [6]:
dfs2 = hf.df_tools.awkward_to_df(awk)
dfs2['People']

                # of riders   Cost Gas-electric-human powered Type of vehicle  \
entry subentry
0     0                   4  25000                        Gas             Car
      1                   5  40000                   Electric             Car
      2                   1    500                      Human            Bike
      3                   1    500                      Human            Bike
      4                   1    500                      Human            Bike
      5                   1    500                      Human            Bike
2     0                   7  45000                        Gas             Car
3     0                   2  25000                        Gas             Car
      1                   7  40000                        Gas             Car

                Year  event_num
entry subentry
0     0         2005          0
      1         2018          0
      2         2015          0
      3         2015          0
      4         2015          0
      5         2015          0
2     0         2012          2
3     0         2005          3
      1         2018          3

In [7]:
dfs2 = hf.df_tools.awkward_to_df(awk, groups='Residences', events=[0,1])
dfs2

                Age First name Gender ID  Height Highest degree-grade  \
entry subentry
0     0          54       blah         M     159                   BS
      1          52       blah         F     140                   MS
      2          18       blah        NB     168                   12
      3          14       blah         F     150                    9
1     0          32       blah         M     159                   BS
      1          27       blah         M     140                   BS

               Last name  Yearly income  event_num
entry subentry
0     0             blah          75000          0
      1             blah          80000          0
      2             blah              0          0
      3             blah              0          0
1     0             blah          49000          1
      1             blah          40000          1

# test `df_to_hepfile`

In [8]:
dfs = hf.df_tools.hepfile_to_df(data)
x = hf.df_tools.df_to_hepfile(dfs, write_hepfile=False)
x

{'_GROUPS_': {'_SINGLETONS_GROUP_': ['COUNTER', 'event_num'],
  'singletons': ['nsingletons', 'Household ID'],
  'People': ['nPeople',
   '# of riders',
   'Cost',
   'Gas-electric-human powered',
   'Type of vehicle',
   'Year'],
  'Residences': ['nResidences',
   'Age',
   'First name',
   'Gender ID',
   'Height',
   'Highest degree-grade',
   'Last name',
   'Yearly income'],
  'Vehicles': ['nVehicles',
   '# of bathrooms',
   '# of bedrooms',
   'Estimate',
   'House-apartment-condo',
   'Square footage',
   'Year built']},
 '_MAP_DATASETS_TO_COUNTERS_': {'_SINGLETONS_GROUP_': '_SINGLETONS_GROUP_/COUNTER',
  'singletons': 'singletons/nsingletons',
  'singletons/Household ID': 'singletons/nsingletons',
  'event_num': '_SINGLETONS_GROUP_/COUNTER',
  'People': 'People/nPeople',
  'People/# of riders': 'People/nPeople',
  'People/Cost': 'People/nPeople',
  'People/Gas-electric-human powered': 'People/nPeople',
  'People/Type of vehicle': 'People/nPeople',
  'People/Year': 'People/nPeople',
  'Residences': 'Residences/nResidences',
  'Residences/Age': 'Residences/nResidences',
  'Residences/First name': 'Residences/nResidences',
  'Residences/Gender ID': 'Residences/nResidences',
  'Residences/Height': 'Residences/nResidences',
  'Residences/Highest degree-grade': 'Residences/nResidences',
  'Residences/Last name': 'Residences/nResidences',
  'Residences/Yearly income': 'Residences/nResidences',
  'Vehicles': 'Vehicles/nVehicles',
  'Vehicles/# of bathrooms': 'Vehicles/nVehicles',
  'Vehicles/# of bedrooms': 'Vehicles/nVehicles',
  'Vehicles/Estimate': 'Vehicles/nVehicles',
  'Vehicles/House-apartment-condo': 'Vehicles/nVehicles',
  'Vehicles/Square footage': 'Vehicles/nVehicles',
  'Vehicles/Year built': 'Vehicles/nVehicles'},
 '_LIST_OF_COUNTERS_': ['_SINGLETONS_GROUP_/COUNTER',
  'singletons/nsingletons',
  'People/nPeople',
  'Residences/nResidences',
  'Vehicles/nVehicles'],
 '_SINGLETONS_GROUP_/COUNTER': [1, 1, 1, 1],
 '_MAP_DATASETS_TO_DATA_TYPES_': {'_SINGLETONS_GROUP_/COUNTER': int,
  'singletons/nsingletons': int,
  'singletons/Household ID': numpy.int64,
  'event_num': numpy.int64,
  'People/nPeople': int,
  'People/# of riders': numpy.int64,
  'People/Cost': numpy.int64,
  'People/Gas-electric-human powered': bytes,
  'People/Type of vehicle': bytes,
  'People/Year': numpy.int64,
  'Residences/nResidences': int,
  'Residences/Age': numpy.int64,
  'Residences/First name': bytes,
  'Residences/Gender ID': bytes,
  'Residences/Height': numpy.int64,
  'Residences/Highest degree-grade': bytes,
  'Residences/Last name': bytes,
  'Residences/Yearly income': numpy.int64,
  'Vehicles/nVehicles': int,
  'Vehicles/# of bathrooms': numpy.float32,
  'Vehicles/# of bedrooms': numpy.int64,
  'Vehicles/Estimate': numpy.int64,
  'Vehicles/House-apartment-condo': bytes,
  'Vehicles/Square footage': numpy.int64,
  'Vehicles/Year built': numpy.int64},
 '_META_': {},
 'singletons/nsingletons': [1, 1, 1, 1],
 'singletons/Household ID': [0, 1, 2, 3],
 'event_num': [0, 1, 2, 3],
 'People/nPeople': [6, 0, 1, 2],
 'People/# of riders': [4, 5, 1, 1, 1, 1, 7, 2, 7],
 'People/Cost': [25000, 40000, 500, 500, 500, 500, 45000, 25000, 40000],
 'People/Gas-electric-human powered': [b'Gas',
  b'Electric',
  b'Human',
  b'Human',
  b'Human',
  b'Human',
  b'Gas',
  b'Gas',
  b'Gas'],
 'People/Type of vehicle': [b'Car',
  b'Car',
  b'Bike',
  b'Bike',
  b'Bike',
  b'Bike',
  b'Car',
  b'Car',
  b'Car'],
 'People/Year': [2005, 2018, 2015, 2015, 2015, 2015, 2012, 2005, 2018],
 'Residences/nResidences': [4, 2, 1, 7],
 'Residences/Age': [54, 52, 18, 14, 32, 27, 65, 54, 52, 18, 14, 12, 11, 65],
 'Residences/First name': [b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah'],
 'Residences/Gender ID': [b'M',
  b'F',
  b'NB',
  b'F',
  b'M',
  b'M',
  b'F',
  b'M',
  b'F',
  b'NB',
  b'F',
  b'M',
  b'M',
  b'F'],
 'Residences/Height': [159,
  140,
  168,
  150,
  159,
  140,
  140,
  159,
  140,
  168,
  150,
  159,
  140,
  140],
 'Residences/Highest degree-grade': [b'BS',
  b'MS',
  b'12',
  b'9',
  b'BS',
  b'BS',
  b'BS',
  b'BS',
  b'MS',
  b'12',
  b'9',
  b'8',
  b'7',
  b'12'],
 'Residences/Last name': [b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah'],
 'Residences/Yearly income': [75000,
  80000,
  0,
  0,
  49000,
  40000,
  40000,
  75000,
  80000,
  0,
  0,
  0,
  0,
  0],
 'Vehicles/nVehicles': [1, 1, 1, 1],
 'Vehicles/# of bathrooms': [2.5, 2.0, 1.0, 4.5],
 'Vehicles/# of bedrooms': [4, 2, 2, 6],
 'Vehicles/Estimate': [250000, 1400, 325000, 500000],
 'Vehicles/House-apartment-condo': [b'House',
  b'Apartment',
  b'Condo',
  b'House'],
 'Vehicles/Square footage': [1500, 1200, 1000, 4500],
 'Vehicles/Year built': [1955, 2002, 2014, 1998]}

In [18]:
y = hf.df_tools.groupDF_to_eventDF(dfs)
y[0]

{'singletons': {'Household ID': [0]},
 'event_num': 0,
 'People': {'# of riders': [4, 5, 1, 1, 1, 1],
  'Cost': [25000, 40000, 500, 500, 500, 500],
  'Gas-electric-human powered': [b'Gas',
   b'Electric',
   b'Human',
   b'Human',
   b'Human',
   b'Human'],
  'Type of vehicle': [b'Car', b'Car', b'Bike', b'Bike', b'Bike', b'Bike'],
  'Year': [2005, 2018, 2015, 2015, 2015, 2015]},
 'Residences': {'Age': [54, 52, 18, 14],
  'First name': [b'blah', b'blah', b'blah', b'blah'],
  'Gender ID': [b'M', b'F', b'NB', b'F'],
  'Height': [159, 140, 168, 150],
  'Highest degree-grade': [b'BS', b'MS', b'12', b'9'],
  'Last name': [b'blah', b'blah', b'blah', b'blah'],
  'Yearly income': [75000, 80000, 0, 0]},
 'Vehicles': {'# of bathrooms': [2.5],
  '# of bedrooms': [4],
  'Estimate': [250000],
  'House-apartment-condo': [b'House'],
  'Square footage': [1500],
  'Year built': [1955]}}