In [1]:
import hepfile as hf

# Testing `hepfile_to_df`

In [2]:
# load in a sample hepfile
# This example uses the file generated by `try_csvs_to_hepfile`

sample = 'test-csv.h5'
data, bucket = hf.load(sample)

Building the indices...

Built the indices!
Data is read in and input file is closed.

In [3]:
# This is a dictionary
data

{'_MAP_DATASETS_TO_COUNTERS_': {'_SINGLETONS_GROUP_': '_SINGLETONS_GROUP_/COUNTER',
  'Residences': 'Residences/nResidences',
  'Residences/First name': 'Residences/nResidences',
  'Residences/Last name': 'Residences/nResidences',
  'Residences/Gender ID': 'Residences/nResidences',
  'Residences/Age': 'Residences/nResidences',
  'Residences/Height': 'Residences/nResidences',
  'Residences/Yearly income': 'Residences/nResidences',
  'Residences/Highest degree-grade': 'Residences/nResidences',
  'Household ID': '_SINGLETONS_GROUP_/COUNTER',
  'People': 'People/nPeople',
  'People/Type of vehicle': 'People/nPeople',
  'People/# of riders': 'People/nPeople',
  'People/Gas-electric-human powered': 'People/nPeople',
  'People/Year': 'People/nPeople',
  'People/Cost': 'People/nPeople',
  'Vehicles': 'Vehicles/nVehicles',
  'Vehicles/House-apartment-condo': 'Vehicles/nVehicles',
  'Vehicles/# of bedrooms': 'Vehicles/nVehicles',
  'Vehicles/# of bathrooms': 'Vehicles/nVehicles',
  'Vehicles/Square footage': 'Vehicles/nVehicles',
  'Vehicles/Year built': 'Vehicles/nVehicles',
  'Vehicles/Estimate': 'Vehicles/nVehicles'},
 '_MAP_DATASETS_TO_INDEX_': {'_SINGLETONS_GROUP_': '_SINGLETONS_GROUP_/COUNTER_INDEX',
  'Residences': 'Residences/nResidences_INDEX',
  'Residences/First name': 'Residences/nResidences_INDEX',
  'Residences/Last name': 'Residences/nResidences_INDEX',
  'Residences/Gender ID': 'Residences/nResidences_INDEX',
  'Residences/Age': 'Residences/nResidences_INDEX',
  'Residences/Height': 'Residences/nResidences_INDEX',
  'Residences/Yearly income': 'Residences/nResidences_INDEX',
  'Residences/Highest degree-grade': 'Residences/nResidences_INDEX',
  'Household ID': '_SINGLETONS_GROUP_/COUNTER_INDEX',
  'People': 'People/nPeople_INDEX',
  'People/Type of vehicle': 'People/nPeople_INDEX',
  'People/# of riders': 'People/nPeople_INDEX',
  'People/Gas-electric-human powered': 'People/nPeople_INDEX',
  'People/Year': 'People/nPeople_INDEX',
  'People/Cost': 'People/nPeople_INDEX',
  'Vehicles': 'Vehicles/nVehicles_INDEX',
  'Vehicles/House-apartment-condo': 'Vehicles/nVehicles_INDEX',
  'Vehicles/# of bedrooms': 'Vehicles/nVehicles_INDEX',
  'Vehicles/# of bathrooms': 'Vehicles/nVehicles_INDEX',
  'Vehicles/Square footage': 'Vehicles/nVehicles_INDEX',
  'Vehicles/Year built': 'Vehicles/nVehicles_INDEX',
  'Vehicles/Estimate': 'Vehicles/nVehicles_INDEX'},
 '_LIST_OF_COUNTERS_': ['People/nPeople',
  'Residences/nResidences',
  'Vehicles/nVehicles',
  '_SINGLETONS_GROUP_/COUNTER'],
 '_LIST_OF_DATASETS_': ['Household ID',
  'People',
  'People/# of riders',
  'People/Cost',
  'People/Gas-electric-human powered',
  'People/Type of vehicle',
  'People/Year',
  'People/nPeople',
  'Residences',
  'Residences/Age',
  'Residences/First name',
  'Residences/Gender ID',
  'Residences/Height',
  'Residences/Highest degree-grade',
  'Residences/Last name',
  'Residences/Yearly income',
  'Residences/nResidences',
  'Vehicles',
  'Vehicles/# of bathrooms',
  'Vehicles/# of bedrooms',
  'Vehicles/Estimate',
  'Vehicles/House-apartment-condo',
  'Vehicles/Square footage',
  'Vehicles/Year built',
  'Vehicles/nVehicles',
  '_SINGLETONS_GROUP_',
  '_SINGLETONS_GROUP_/COUNTER'],
 '_META_': {},
 '_NUMBER_OF_BUCKETS_': 4,
 '_SINGLETONS_GROUP_': array(['Household ID'], dtype='<U12'),
 '_SINGLETONS_GROUP_/COUNTER': array([1, 1, 1, 1]),
 'People/nPeople': array([6, 0, 1, 2]),
 'People/nPeople_INDEX': array([0, 6, 6, 7]),
 'Residences/nResidences': array([4, 2, 1, 7]),
 'Residences/nResidences_INDEX': array([0, 4, 6, 7]),
 'Vehicles/nVehicles': array([1, 1, 1, 1]),
 'Vehicles/nVehicles_INDEX': array([0, 1, 2, 3]),
 '_SINGLETONS_GROUP_/COUNTER_INDEX': array([0, 1, 2, 3]),
 'Household ID': array([0, 1, 2, 3]),
 'People/# of riders': array([4, 5, 1, 1, 1, 1, 7, 2, 7]),
 'People/Cost': array([25000, 40000,   500,   500,   500,   500, 45000, 25000, 40000]),
 'People/Gas-electric-human powered': array([b'Gas', b'Electric', b'Human', b'Human', b'Human', b'Human',
        b'Gas', b'Gas', b'Gas'], dtype=object),
 'People/Type of vehicle': array([b'Car', b'Car', b'Bike', b'Bike', b'Bike', b'Bike', b'Car', b'Car',
        b'Car'], dtype=object),
 'People/Year': array([2005, 2018, 2015, 2015, 2015, 2015, 2012, 2005, 2018]),
 'Residences/Age': array([54, 52, 18, 14, 32, 27, 65, 54, 52, 18, 14, 12, 11, 65]),
 'Residences/First name': array([b'blah', b'blah', b'blah', b'blah', b'blah', b'blah', b'blah',
        b'blah', b'blah', b'blah', b'blah', b'blah', b'blah', b'blah'],
       dtype=object),
 'Residences/Gender ID': array([b'M', b'F', b'NB', b'F', b'M', b'M', b'F', b'M', b'F', b'NB', b'F',
        b'M', b'M', b'F'], dtype=object),
 'Residences/Height': array([159, 140, 168, 150, 159, 140, 140, 159, 140, 168, 150, 159, 140,
        140]),
 'Residences/Highest degree-grade': array([b'BS', b'MS', b'12', b'9', b'BS', b'BS', b'BS', b'BS', b'MS',
        b'12', b'9', b'8', b'7', b'12'], dtype=object),
 'Residences/Last name': array([b'blah', b'blah', b'blah', b'blah', b'blah', b'blah', b'blah',
        b'blah', b'blah', b'blah', b'blah', b'blah', b'blah', b'blah'],
       dtype=object),
 'Residences/Yearly income': array([75000, 80000,     0,     0, 49000, 40000, 40000, 75000, 80000,
            0,     0,     0,     0,     0]),
 'Vehicles/# of bathrooms': array([2.5, 2. , 1. , 4.5], dtype=float32),
 'Vehicles/# of bedrooms': array([4, 2, 2, 6]),
 'Vehicles/Estimate': array([250000,   1400, 325000, 500000]),
 'Vehicles/House-apartment-condo': array([b'House', b'Apartment', b'Condo', b'House'], dtype=object),
 'Vehicles/Square footage': array([1500, 1200, 1000, 4500]),
 'Vehicles/Year built': array([1955, 2002, 2014, 1998]),
 '_GROUPS_': {'_SINGLETONS_GROUP_': ['Household ID'],
  'People': ['# of riders',
   'Cost',
   'Gas-electric-human powered',
   'Type of vehicle',
   'Year',
   'nPeople'],
  'Residences': ['Age',
   'First name',
   'Gender ID',
   'Height',
   'Highest degree-grade',
   'Last name',
   'Yearly income',
   'nResidences'],
  'Vehicles': ['# of bathrooms',
   '# of bedrooms',
   'Estimate',
   'House-apartment-condo',
   'Square footage',
   'Year built',
   'nVehicles']},
 '_MAP_DATASETS_TO_DATA_TYPES_': {'Household ID': dtype('int64'),
  'People/# of riders': dtype('int64'),
  'People/Cost': dtype('int64'),
  'People/Gas-electric-human powered': dtype('O'),
  'People/Type of vehicle': dtype('O'),
  'People/Year': dtype('int64'),
  'People/nPeople': dtype('int64'),
  'Residences/Age': dtype('int64'),
  'Residences/First name': dtype('O'),
  'Residences/Gender ID': dtype('O'),
  'Residences/Height': dtype('int64'),
  'Residences/Highest degree-grade': dtype('O'),
  'Residences/Last name': dtype('O'),
  'Residences/Yearly income': dtype('int64'),
  'Residences/nResidences': dtype('int64'),
  'Vehicles/# of bathrooms': dtype('float32'),
  'Vehicles/# of bedrooms': dtype('int64'),
  'Vehicles/Estimate': dtype('int64'),
  'Vehicles/House-apartment-condo': dtype('O'),
  'Vehicles/Square footage': dtype('int64'),
  'Vehicles/Year built': dtype('int64'),
  'Vehicles/nVehicles': dtype('int64'),
  '_SINGLETONS_GROUP_': dtype('<U12'),
  '_SINGLETONS_GROUP_/COUNTER': dtype('int64')},
 '_PROTECTED_NAMES_': {'_GROUPS_',
  '_HEADER_',
  '_LIST_OF_COUNTERS_',
  '_MAP_DATASETS_TO_COUNTERS_',
  '_MAP_DATASETS_TO_DATA_TYPES_',
  '_META_',
  '_PROTECTED_NAMES_',
  '_SINGLETONSGROUPFORSTORAGE_',
  '_SINGLETONS_GROUP_',
  '_SINGLETONS_GROUP_/COUNTER'}}

In [4]:
dfs = hf.df_tools.hepfile_to_df(data)
dfs['Residences']

,Age,First name,Gender ID,Height,Highest degree-grade,Last name,Yearly income,event_num
0,54,b'blah',b'M',159,b'BS',b'blah',75000,0
1,52,b'blah',b'F',140,b'MS',b'blah',80000,0
2,18,b'blah',b'NB',168,b'12',b'blah',0,0
3,14,b'blah',b'F',150,b'9',b'blah',0,0
4,32,b'blah',b'M',159,b'BS',b'blah',49000,1
5,27,b'blah',b'M',140,b'BS',b'blah',40000,1
6,65,b'blah',b'F',140,b'BS',b'blah',40000,2
7,54,b'blah',b'M',159,b'BS',b'blah',75000,3
8,52,b'blah',b'F',140,b'MS',b'blah',80000,3
9,18,b'blah',b'NB',168,b'12',b'blah',0,3
10,14,b'blah',b'F',150,b'9',b'blah',0,3
11,12,b'blah',b'M',159,b'8',b'blah',0,3
12,11,b'blah',b'M',140,b'7',b'blah',0,3
13,65,b'blah',b'F',140,b'12',b'blah',0,3

In [5]:
dfs.keys()

dict_keys(['_SINGLETONS_GROUP_', 'People', 'Residences', 'Vehicles'])

In [6]:
dfs = hf.df_tools.hepfile_to_df(data, groups=['Residences', '_SINGLETONS_GROUP_'], events=0)
dfs

{'Residences':    Age First name Gender ID  Height Highest degree-grade Last name  \
 0   54    b'blah'      b'M'     159                b'BS'   b'blah'
 1   52    b'blah'      b'F'     140                b'MS'   b'blah'
 2   18    b'blah'     b'NB'     168                b'12'   b'blah'
 3   14    b'blah'      b'F'     150                 b'9'   b'blah'

    Yearly income  event_num
 0          75000          0
 1          80000          0
 2              0          0
 3              0          0  ,
 '_SINGLETONS_GROUP_':    Household ID  event_num
 0             0          0}

In [7]:
dfs = hf.df_tools.hepfile_to_df(data, groups=['Residences'])
dfs

,Age,First name,Gender ID,Height,Highest degree-grade,Last name,Yearly income,event_num
0,54,b'blah',b'M',159,b'BS',b'blah',75000,0
1,52,b'blah',b'F',140,b'MS',b'blah',80000,0
2,18,b'blah',b'NB',168,b'12',b'blah',0,0
3,14,b'blah',b'F',150,b'9',b'blah',0,0
4,32,b'blah',b'M',159,b'BS',b'blah',49000,1
5,27,b'blah',b'M',140,b'BS',b'blah',40000,1
6,65,b'blah',b'F',140,b'BS',b'blah',40000,2
7,54,b'blah',b'M',159,b'BS',b'blah',75000,3
8,52,b'blah',b'F',140,b'MS',b'blah',80000,3
9,18,b'blah',b'NB',168,b'12',b'blah',0,3
10,14,b'blah',b'F',150,b'9',b'blah',0,3
11,12,b'blah',b'M',159,b'8',b'blah',0,3
12,11,b'blah',b'M',140,b'7',b'blah',0,3
13,65,b'blah',b'F',140,b'12',b'blah',0,3

In [8]:
dfs.keys()

Index(['Age', 'First name', 'Gender ID', 'Height', 'Highest degree-grade',
       'Last name', 'Yearly income', 'event_num'],
      dtype='object')

# Test `awkward_to_df`

In [10]:
sample = 'test-csv.h5'
awk, bucket = hf.load(sample, return_type='awkward')

Building the indices...

Built the indices!
Data is read in and input file is closed.

In [11]:
dfs2 = hf.df_tools.awkward_to_df(awk)
dfs2['People']

                # of riders   Cost Gas-electric-human powered Type of vehicle  \
entry subentry
0     0                   4  25000                        Gas             Car
      1                   5  40000                   Electric             Car
      2                   1    500                      Human            Bike
      3                   1    500                      Human            Bike
      4                   1    500                      Human            Bike
      5                   1    500                      Human            Bike
2     0                   7  45000                        Gas             Car
3     0                   2  25000                        Gas             Car
      1                   7  40000                        Gas             Car

                Year  event_num
entry subentry
0     0         2005          0
      1         2018          0
      2         2015          0
      3         2015          0
      4         2015          0
      5         2015          0
2     0         2012          2
3     0         2005          3
      1         2018          3

In [12]:
dfs2['Residences']

                Age First name Gender ID  Height Highest degree-grade  \
entry subentry
0     0          54       blah         M     159                   BS
      1          52       blah         F     140                   MS
      2          18       blah        NB     168                   12
      3          14       blah         F     150                    9
1     0          32       blah         M     159                   BS
      1          27       blah         M     140                   BS
2     0          65       blah         F     140                   BS
3     0          54       blah         M     159                   BS
      1          52       blah         F     140                   MS
      2          18       blah        NB     168                   12
      3          14       blah         F     150                    9
      4          12       blah         M     159                    8
      5          11       blah         M     140                    7
      6          65       blah         F     140                   12

               Last name  Yearly income  event_num
entry subentry
0     0             blah          75000          0
      1             blah          80000          0
      2             blah              0          0
      3             blah              0          0
1     0             blah          49000          1
      1             blah          40000          1
2     0             blah          40000          2
3     0             blah          75000          3
      1             blah          80000          3
      2             blah              0          3
      3             blah              0          3
      4             blah              0          3
      5             blah              0          3
      6             blah              0          3

In [13]:
dfs2 = hf.df_tools.awkward_to_df(awk, groups='Residences', events=[0,1])
dfs2

                Age First name Gender ID  Height Highest degree-grade  \
entry subentry
0     0          54       blah         M     159                   BS
      1          52       blah         F     140                   MS
      2          18       blah        NB     168                   12
      3          14       blah         F     150                    9
1     0          32       blah         M     159                   BS
      1          27       blah         M     140                   BS

               Last name  Yearly income  event_num
entry subentry
0     0             blah          75000          0
      1             blah          80000          0
      2             blah              0          0
      3             blah              0          0
1     0             blah          49000          1
      1             blah          40000          1

# test `df_to_hepfile`

In [14]:
dfs = hf.df_tools.hepfile_to_df(data)
x = hf.df_tools.df_to_hepfile(dfs, write_hepfile=False)
x

{'_GROUPS_': {'_SINGLETONS_GROUP_': ['COUNTER', 'Household ID', 'event_num'],
  'People': ['nPeople',
   '# of riders',
   'Cost',
   'Gas-electric-human powered',
   'Type of vehicle',
   'Year'],
  'Residences': ['nResidences',
   'Age',
   'First name',
   'Gender ID',
   'Height',
   'Highest degree-grade',
   'Last name',
   'Yearly income'],
  'Vehicles': ['nVehicles',
   '# of bathrooms',
   '# of bedrooms',
   'Estimate',
   'House-apartment-condo',
   'Square footage',
   'Year built']},
 '_MAP_DATASETS_TO_COUNTERS_': {'_SINGLETONS_GROUP_': '_SINGLETONS_GROUP_/COUNTER',
  'Household ID': '_SINGLETONS_GROUP_/COUNTER',
  'event_num': '_SINGLETONS_GROUP_/COUNTER',
  'People': 'People/nPeople',
  'People/# of riders': 'People/nPeople',
  'People/Cost': 'People/nPeople',
  'People/Gas-electric-human powered': 'People/nPeople',
  'People/Type of vehicle': 'People/nPeople',
  'People/Year': 'People/nPeople',
  'Residences': 'Residences/nResidences',
  'Residences/Age': 'Residences/nResidences',
  'Residences/First name': 'Residences/nResidences',
  'Residences/Gender ID': 'Residences/nResidences',
  'Residences/Height': 'Residences/nResidences',
  'Residences/Highest degree-grade': 'Residences/nResidences',
  'Residences/Last name': 'Residences/nResidences',
  'Residences/Yearly income': 'Residences/nResidences',
  'Vehicles': 'Vehicles/nVehicles',
  'Vehicles/# of bathrooms': 'Vehicles/nVehicles',
  'Vehicles/# of bedrooms': 'Vehicles/nVehicles',
  'Vehicles/Estimate': 'Vehicles/nVehicles',
  'Vehicles/House-apartment-condo': 'Vehicles/nVehicles',
  'Vehicles/Square footage': 'Vehicles/nVehicles',
  'Vehicles/Year built': 'Vehicles/nVehicles'},
 '_LIST_OF_COUNTERS_': ['_SINGLETONS_GROUP_/COUNTER',
  'People/nPeople',
  'Residences/nResidences',
  'Vehicles/nVehicles'],
 '_SINGLETONS_GROUP_/COUNTER': [1, 1, 1, 1],
 '_MAP_DATASETS_TO_DATA_TYPES_': {'_SINGLETONS_GROUP_/COUNTER': int,
  'Household ID': numpy.int64,
  'event_num': numpy.int64,
  'People/nPeople': int,
  'People/# of riders': numpy.int64,
  'People/Cost': numpy.int64,
  'People/Gas-electric-human powered': numpy.bytes_,
  'People/Type of vehicle': numpy.bytes_,
  'People/Year': numpy.int64,
  'Residences/nResidences': int,
  'Residences/Age': numpy.int64,
  'Residences/First name': numpy.bytes_,
  'Residences/Gender ID': numpy.bytes_,
  'Residences/Height': numpy.int64,
  'Residences/Highest degree-grade': numpy.bytes_,
  'Residences/Last name': numpy.bytes_,
  'Residences/Yearly income': numpy.int64,
  'Vehicles/nVehicles': int,
  'Vehicles/# of bathrooms': numpy.float32,
  'Vehicles/# of bedrooms': numpy.int64,
  'Vehicles/Estimate': numpy.int64,
  'Vehicles/House-apartment-condo': numpy.bytes_,
  'Vehicles/Square footage': numpy.int64,
  'Vehicles/Year built': numpy.int64},
 '_META_': {},
 'Household ID': [0, 1, 2, 3],
 'event_num': [0, 1, 2, 3],
 'People/nPeople': [6, 0, 1, 2],
 'People/# of riders': [4, 5, 1, 1, 1, 1, 7, 2, 7],
 'People/Cost': [25000, 40000, 500, 500, 500, 500, 45000, 25000, 40000],
 'People/Gas-electric-human powered': [b'Gas',
  b'Electric',
  b'Human',
  b'Human',
  b'Human',
  b'Human',
  b'Gas',
  b'Gas',
  b'Gas'],
 'People/Type of vehicle': [b'Car',
  b'Car',
  b'Bike',
  b'Bike',
  b'Bike',
  b'Bike',
  b'Car',
  b'Car',
  b'Car'],
 'People/Year': [2005, 2018, 2015, 2015, 2015, 2015, 2012, 2005, 2018],
 'Residences/nResidences': [4, 2, 1, 7],
 'Residences/Age': [54, 52, 18, 14, 32, 27, 65, 54, 52, 18, 14, 12, 11, 65],
 'Residences/First name': [b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah'],
 'Residences/Gender ID': [b'M',
  b'F',
  b'NB',
  b'F',
  b'M',
  b'M',
  b'F',
  b'M',
  b'F',
  b'NB',
  b'F',
  b'M',
  b'M',
  b'F'],
 'Residences/Height': [159,
  140,
  168,
  150,
  159,
  140,
  140,
  159,
  140,
  168,
  150,
  159,
  140,
  140],
 'Residences/Highest degree-grade': [b'BS',
  b'MS',
  b'12',
  b'9',
  b'BS',
  b'BS',
  b'BS',
  b'BS',
  b'MS',
  b'12',
  b'9',
  b'8',
  b'7',
  b'12'],
 'Residences/Last name': [b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah',
  b'blah'],
 'Residences/Yearly income': [75000,
  80000,
  0,
  0,
  49000,
  40000,
  40000,
  75000,
  80000,
  0,
  0,
  0,
  0,
  0],
 'Vehicles/nVehicles': [1, 1, 1, 1],
 'Vehicles/# of bathrooms': [2.5, 2.0, 1.0, 4.5],
 'Vehicles/# of bedrooms': [4, 2, 2, 6],
 'Vehicles/Estimate': [250000, 1400, 325000, 500000],
 'Vehicles/House-apartment-condo': [b'House',
  b'Apartment',
  b'Condo',
  b'House'],
 'Vehicles/Square footage': [1500, 1200, 1000, 4500],
 'Vehicles/Year built': [1955, 2002, 2014, 1998]}

In [15]:
y = hf.df_tools.groupDF_to_eventDF(dfs)
y[0]

{'Household ID': 0,
 'event_num': 0,
 'People': {'# of riders': [4, 5, 1, 1, 1, 1],
  'Cost': [25000, 40000, 500, 500, 500, 500],
  'Gas-electric-human powered': [b'Gas',
   b'Electric',
   b'Human',
   b'Human',
   b'Human',
   b'Human'],
  'Type of vehicle': [b'Car', b'Car', b'Bike', b'Bike', b'Bike', b'Bike'],
  'Year': [2005, 2018, 2015, 2015, 2015, 2015]},
 'Residences': {'Age': [54, 52, 18, 14],
  'First name': [b'blah', b'blah', b'blah', b'blah'],
  'Gender ID': [b'M', b'F', b'NB', b'F'],
  'Height': [159, 140, 168, 150],
  'Highest degree-grade': [b'BS', b'MS', b'12', b'9'],
  'Last name': [b'blah', b'blah', b'blah', b'blah'],
  'Yearly income': [75000, 80000, 0, 0]},
 'Vehicles': {'# of bathrooms': [2.5],
  '# of bedrooms': [4],
  'Estimate': [250000],
  'House-apartment-condo': [b'House'],
  'Square footage': [1500],
  'Year built': [1955]}}